
.tools_page {
    background-image:url(background_options/background_tools_page_global_2.png);
}
.tools_container {
    font-family:monospace;
    text-align:center;
    color:#5a93cb;
    width:100%;
    min-width:1350px;
    height:75%;
    overflow:auto;
    position:absolute;

}

.tools_container h3 {
    font-size:28px;
    color:#5a93cb;
    
}
.tools_container h5 {
    font-size:24px;
}
.toCRYPTO, .toUSD {
    display:inline-table;
    padding: 0px 30px 0px 30px;
    width:25%;
    height:40%;
    border-style:solid;
    border-radius:15px;
    margin:0 30px 0 30px;
}
select {
    border-style:none;
    font-size:24px;
    
}
input[type='button'] {
    border-style:none;
    font-size:24px;
    border-radius:10px;
    background-color:white;
}
input[type='number'] {
    font-size:24px;
    border-radius:5px;
    font-style:
    
}
.tools_container p {
    font-size:18px;
    width: 438px;
}
#amountCRYPT1, #testing1, #amountEUR1, #amountCRYPT2, #testing2, #amountEUR2 {
    color:white;
    font-weight:bold;
    border-style:solid;
    border-radius:5px;
    background-color:slategray;
    
}

